{% extends "base.html" %} 
{% load static %} 

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock %} 

{% block title %}
    {{blog_data.title|title}}
{% endblock %} 

{% block content %}
    <section id="summary">
        <h2>{{blog_data.title|title}}</h2> 
        <article>
            <img src="{% static "blog/images/"|add:blog_data.image_name %}" alt={{blog_data.title}} /> 
            <address>By {{blog_data.author}}</address> 
            <div>Created on <time>{{blog_data.created_date|date:"d M Y"}}</time></div>
            <div>Last updated on <time>{{blog_data.last_modified_date|date:"d M Y"}}</time></div>
        </article> 
        <div id="read-later"> 
            <form action="{% url "save_post" %}" method="POST"> 
                {% csrf_token %}
                <input type="hidden" value={{blog_data.id}} name="post_id"> 
                <button> 
                    {% if is_saved %}
                        Unsave post
                    {% else %}
                        Read Later
                    {% endif %}
            </form>
        </div>
    </section> 

    <main>
        <p>{{ blog_data.content|linebreaks }}</p>
    </main>  
    
    <section id="comment-form">
        <h2>Let me know what you think</h2> 
        <form action={% url "single_post" blog_data.slug %} method="POST"> 
            {% csrf_token %}
            {% for form_field in comment_form %}
                <div class="form-control">
                    {{ form_field.label_tag }}
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
        {% endfor %}
        <button>Submit Comment</button>
        </form>
    </section>

    <section id="comments">
        <ul>
            {% for comment in comments %}
                <li>
                    <h2>{{ comment.user_name }} | {{ comment.user_email }} </h2>
                    <p>{{ comment.content }}<p>
                </li>
            {% endfor %}
        </ul> 
    </section>

{% endblock %} 